<article class="card card--event">
  {% if event.data.featured_image %}
    <a href="{{ event.url }}" class="card__image-link" tabindex="-1" aria-hidden="true">
      <img src="{{ event.data.featured_image }}" alt="" class="card__image" loading="lazy" />
    </a>
  {% endif %}
  <div class="card__body">
    <time class="card__date" datetime="{{ event.data.event_date | isoDate }}">
      {{ event.data.event_date | readableDate }}
    </time>
    <h3 class="card__title">
      <a href="{{ event.url }}">{{ event.data.title }}</a>
    </h3>
    {% if event.data.location %}
      <p class="card__location">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
        {{ event.data.location }}
      </p>
    {% endif %}
    {% if event.data.description %}
      <p class="card__excerpt">{{ event.data.description }}</p>
    {% endif %}
    <div class="card__actions">
      <a href="{{ event.url }}" class="button button--outline">Event Details</a>
      {% if event.data.ticket_url %}
        <a href="{{ event.data.ticket_url }}" class="button button--primary" target="_blank" rel="noopener">Get Tickets</a>
      {% endif %}
    </div>
  </div>
</article>
